<div class="container">
    <div class="col-md-12 text-center">
        <button class="btn btn-warning m-3" (click)="changeDB()">
            CloudInary Images
        </button>
        <button class="btn btn-warning m-3" (click)="changeDB()">
            DB Images
        </button>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2" *ngFor="let image of images">
                <div *ngIf="!showDbImages">
                    <div class="card mb-3">
                        <img [src]="image.cloudinary_url" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" *ngFor="let image of images">
                <div *ngIf="showDbImages">
                    <div class="cart mb-3">
                        <img [src]="'http://localhost:3000' + image.image_url" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>